/* body {
  background-color: antiquewhite;
} */

* {
  margin: 0;
  padding: 0;
}
header {
  /*  아래는 viewport에 고정해둔것 */
  position: fixed;
  background-color: gray;
  left: 0;
  right: 0;
  height: 80px;
  color: #fff;
  display: flex;
  justify-self: center;
  align-items: center;
}

header h1 {
  font-size: 1.7em;
}
